<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var reply_post_url = "{{=URL('api', 'reply_post', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">
{{if auth.user_id:}}

    <!-- Only reveal menu to logged in users -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{=response.logo or ''}}
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
          </ul>
          {{if response.menu:}}
          {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
        </div>
      </div>
    </nav>

    <div id="vue-div" class="display:none">
        <div class="header">
            <h1>Posts</h1>
        </div>

        <div class="add-new-post">
            <button v-if="!is_adding_post" class="btn btn-primary btn-lg" v-on:click="add_post_button()" v-bind:class="{'disabled': !logged_in}"><i class="fa fa-plus"></i> Add Post</button>
        </div>

        <div v-if="is_adding_post" id="add_post_div"><br>
            <form action="#" v-on:submit.prevent="add_post" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="add-new-post">
                    <textarea class="form-control" v-model="form_title" placeholder="Title"></textarea><br>
                    <textarea class="form-control" v-model="form_content" placeholder="Content"></textarea><br>
                    <div class="add-post-submission">
                        <input class="btn btn-primary btn-lg" id="add_post_submit" type="submit" value="Post"/>
                        <input class="btn btn-warning btn-lg" id="add_post_cancel" type="button" value="Cancel" v-on:click="add_post_button()"/>
                    </div>
                </div>
            </form>
        </div>

        <div class="filter">
            <div class="dropdown">
                <button onclick="dropdown()" class="dropbtn"><i class="fa fa-filter"></i>Filter-Date</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="http://127.0.0.1:8000/final_project/default/author">Author</a>
                    <a href="http://127.0.0.1:8000/final_project">Date</a>
                    <a href="http://127.0.0.1:8000/final_project/default/title">Title</a>
            </div>
        </div>
        </div>

        <div v-for="post in posts" class="post_list">
            <div class="post">
                <div v-if="!(edit_post_id == post.id)">
                    <h3>${post.post_title}</h3>
                    <br><h4>${post.post_content}</h4>
                    <br>Author: <i>${post.user_email}</i>
                    <br>Date: <i>${post.created_on}</i>
                    <div v-if="post.created_on != post.updated_on">
                        Updated: <i>${post.updated_on}</i>
                    </div>
                    <div v-if="logged_in" class="icons">
                        <i class="fa fa-pencil" v-if="post.op" v-on:click="update_post(post.id, post.post_content)"></i>
                        <i class="fa fa-trash-o" v-if="post.op" v-on:click="delete_post(post.id)"></i>
                    </div>
                    <div v-if="logged_in" class="icons">
                        <i class="fa fa-reply" v-if="!post.op" v-on:click="reply_post_button(post.id)"></i>
                        <i class="fa fa-caret-up" v-if="post.replies && !is_expanded" v-on:click="expand_reply_button(post.id)"></i>
                        <i class="fa fa-caret-down" v-if="post.replies && is_expanded" v-on:click="expand_reply_button(post.id)"></i>
                    </div>
                    <div v-if="logged_in">
                        <div v-if="is_replying_post" id="reply_post_div"><br>
                            <form action="#" v-on:submit.prevent="reply_post" class="form-horizontal" enctype="multipart/form-data" method="post" v-if="reply_post_id == post.id">
                                <div class="form-group" id="reply-new-post">
                                    <textarea class="form-control" v-model="form_reply_content"></textarea><br>
                                    <div class="text_btns">
                                        <input class="btn btn-primary btn-lg" id="reply_post_submit" type="submit" value="Reply" v-on:click="expand_reply_button(post.id)"/>
                                        <input class="btn btn-warning btn-lg" id="reply_post_cancel" type="button" value="Cancel" v-on:click="reply_post_button()" v-on:click="reply_post_id = null" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <form action="#" v-on:submit.prevent="edit_post" class="form-horizontal" enctype="multipart/form-data" method="post" v-if="edit_post_id == post.id">
                    <div class="form-group">
                        <textarea class="form-control" v-model="form_edit_content"></textarea><br>
                        <div class="text_btns">
                            <input class="btn btn-primary btn-lg" id="edit_post_submit" type="submit" value="Edit"/>
                            <input class="btn btn-warning btn-lg" id="edit_post_cancel" type="button" value="Cancel" v-on:click="edit_post_id = null"/>
                        </div>
                    </div>
                </form>
            </div>
            <transition name="slide-fade">
            <div v-if="post.replies && !is_expanded && expand_post_id == post.id">
                <div v-for="reply in post.replies" class="rply_post">
                    <h4>${reply.post_content}</h4>
                    <br>Author: <i>${reply.user_email}</i>
                    <br>Date: <i>${reply.created_on}</i>
                </div>
            </div>
            </transition>
        </div>

        <div class="load-button">
            <div v-if="has_more" class="show_more">
                <button class="btn btn-primary btn-lg" id="load-more" v-on:click="get_more()">Load more</button>
            </div>
        </div>
    </div>

{{else:}}

    <!-- Homepage -->
    <div class="title">PeerPressure</div>

    <div class="homebtns">
        <a href="{{=URL('user', '')}}" class="btn btn-primary btn-lg raised">Login</a>
        <a href="{{=URL('user/register', '')}}" class="btn btn-warning btn-lg raised">Sign Up</a>
    </div>

    <hr class="hrline">

    <div>
        <div class="homedesc" style="float: left; width: 50%">
            <h3>What is PeerPressure?</h3>
            <div class="homedesc_text">
                <h4>PeerPressure is a website which is based on peer collaboration.  Students are able to create posts
                regarding any subject up for discussion such as: homework problems, school events, or study groups.  The possibilities
                are endless!  After this other students can respond to the original post, adding additional information, answering a question,
                or just providing feedback.  This peer-to-peer communication empowers students to help their fellow classmates and
                encourages teamwork and collaboration.  PeerPressure allows students to ask questions and get answers 24/7 - Not just in the classroom!</h4>
            </div>
        </div>
        <div class="homeimg" style="float: left; width: 50%">
            <div id="slider">
                <div v-for="number in [currentNumber]">
                    <transition name="fade">
                        <img :src="images[Math.abs(currentNumber) % images.length]" class="imgresize" />
                    </transition>
                </div>
            </div>
        </div>
    </div>

    <hr class="hrline2">

    <div>
        <div class="homeimg2" style="float: left; width: 55%">
            <i class="fa fa-users fa-5x" aria-hidden="true"></i>
            &emsp;&emsp;&emsp;&emsp;&emsp;
            <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
            &emsp;&emsp;&emsp;&emsp;&emsp;
            <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
            &emsp;&emsp;&emsp;&emsp;&emsp;
            <i class="fa fa-trash fa-5x" aria-hidden="true"></i>
            &emsp;&emsp;&emsp;&emsp;&emsp;
            <i class="fa fa-reply fa-5x" aria-hidden="true"></i>
        </div>
        <div class="homedesc" style="float: right; width: 45%">
            <h3>Features</h3>
            <h4>
                <ul>
                    <li>Unique user accounts - Individual accounts for each student</li>
                    <li>Create posts - Topics are unlimited</li>
                    <li>Edit posts - Change your question or your responses</li>
                    <li>Delete posts - Get rid of invalid information</li>
                    <li>Reply to posts - Collaboration between students</li>
                    <li>Filter posts - See what you want fast and easy</li>
                </ul>
            </h4>
    </div>

    <div>
        <div class="home_screenshot" style="float: left; width: 55%">
            <img src="{{=URL('static', 'images/screenshot.png')}}" />
        </div>
        <div class="homedesign" style="float: right; width: 45%">
            <h3>Design</h3>
            <h4>
                <ol>
                    <li>Easy to read posts identifying when and by whom the post was created</li><br>
                    <li>Edit and delete functionality</li><br>
                    <li>Reply to another user's post</li>
                </ol>
            </h4>
        </div>
    </div>
        <div class="home_screenshot" style="float: left; width: 55%">
            <img src="{{=URL('static', 'images/gcalendar.png')}}" />
        </div>
        <div class="homedesigncalendar" style="float: right; width: 45%">
            <h3>Google Calendar</h3>
            <h4>
                <ul>
                    <li>Keep up-to-date with all class activities</li><br>
                    <li>Add events to your Google calendar</li><br>
                </ul>
            </h4>
        </div>
    <div>

    </div>
{{pass}}
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
    <script>$( document ).ready(function() {
        APP.img.startRotation();
    });

    function dropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                     openDropdown.classList.remove('show');
                }
            }
         }
    }
    </script>
